@use 'font';
@use 'colors';

.callback {
    background-color: colors.$black;
    min-height: 100vh;

    .callback__img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 40vh;
        width: 3%;

    }
}