@use 'font';
@use 'colors';

.header {
    margin-top: 4vh;

    .header__title {
        margin-top: 4vh;
        margin-bottom: 2vh;
        font-size: 3.4vw;
        font-weight: 300;
        color: colors.$white;
        text-align: center;
        
    }

    .header__title--green {
        color: colors.$green;
        font-weight: 600;
    }


    .header__subtitle {
        font-size: 0.8vw;
        font-weight: 400;
        font-style: italic;
        text-align: center;
        color: colors.$lightGreen;
    }
}

@media only screen and (max-width: 767px) {
    .header {
        margin-top: 4vh;
        padding-left: 6vw;
        padding-right: 6vw;
    
        .header__title {
            margin-top: 6vh;
            margin-bottom: 2vh;
            font-size: 8.5vw;
        }
    
        .header__subtitle {
            padding-left: 15vw;
            padding-right: 15vw;
            font-size: 3vw;
            line-height: 2;
        }
    }
}