@use 'font';
@use 'colors';

.spotify {

    .spotify__login {
        text-align: right;

        .spotify__login__link {
            display: inline-flex;
            align-items: center;
            padding: 1vw;
            border: 0.2vw solid colors.$white;
            border-radius: 2vw;
            font-size: 1vw;
            font-weight: 400;
            color: colors.$white;
            text-decoration: none;
            cursor: pointer;

            &:hover {
                color: colors.$green;
                border: 0.2vw solid colors.$green;
            }


            .spotify__login__link__img {
                display: inline-block;
                width: 4vw;
                margin-left: 0.5vw;
            }
        }
    }

    .spotify__dashboard {
        .spotify__dashboard__content {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5vw;
            border: 0.2vw solid colors.$white;
            border-radius: 2vw;

            .spotify__dashboard__content__img {
                display: inline-block;
                width: 1.25vw;
                margin-right: 1vw;
                border-radius: 2vw;
            }
    
            .spotify__dashboard__content__name {
                display: inline-block;
                font-size: 1vw;
                font-weight: 400;
                color: colors.$white;
                margin: 0;
            }
    
            .spotify__dashboard__content__logout {
                font-size: 1vw;
                color: colors.$green;
                margin-left: 1vw;
                cursor: pointer;

                &:hover {
                    color: colors.$white;
                }
            }
        }

        .spotify__dashboard__button {
            display: block;
            padding: 0.75vw;
            font-size: 0.85vw;
            font-family: "proxima-nova", sans-serif;
            font-weight: 700;
            border-radius: 0.6vw;
            text-transform: capitalize;
            border: none;
            background-color: colors.$lightGreen;
            color: colors.$black;
            cursor: pointer;

            &:hover {
                background-color: colors.$white;
            }
        }
    }

}


@media only screen and (max-width: 767px) {

    .spotify {

        .spotify__login {
    
            .spotify__login__link {
                padding: 4vw;
                border: 0.2vw solid colors.$white;
                border-radius: 5vw;
                font-size: 3.5vw;
    
                &:hover {
                    color: colors.$white;
                    border: 0.2vw solid colors.$white;
                }
    
    
                .spotify__login__link__img {
                    width: 14vw;
                    margin-left: 2vw;
                }
            }
        }
    
        .spotify__dashboard {
            .spotify__dashboard__content {
                padding: 3vw;
                border: 0.2vw solid colors.$white;
                border-radius: 6vw;
    
                .spotify__dashboard__content__img {
                    width: 6vw;
                    margin-right: 4vw;
                    border-radius: 6vw;
                }
        
                .spotify__dashboard__content__name {
                    font-size: 3vw;
                    font-weight: 400;
                }
        
                .spotify__dashboard__content__logout {
                    font-size: 4vw;
                    margin-left: 4vw;
    
                    &:hover {
                        color: colors.$green;
                    }
                }
            }
    
            .spotify__dashboard__button {
                padding: 3vw;
                margin-top: 0.5vh;
                font-size: 3vw;
                border-radius: 0.6vw;
    
                &:hover {
                    background-color: colors.$white;
                }
            }
        }
    
    }

}